<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="icon-user"></i> Profile</h3>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="profile-email" class="col-sm-2 control-label">Avatar</label>

                        <div class="col-sm-9">
                            <img class="player-avatar pull-left" src="{{ gravatarUrl(player.email, 50) }}" alt="Gravatar"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="profile-email" class="col-sm-2 control-label">Email</label>

                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="profile-email" placeholder="Email" data-ng-model="player.email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="profile-name" class="col-sm-2 control-label">Name</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="profile-name" placeholder="Name" data-ng-model="player.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-7">
                            <button type="submit" class="btn btn-primary" data-ng-click="updateProfile()">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="icon-key"></i> Change Password</h3>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="profile-new-password" class="col-sm-4 control-label">New Password</label>

                        <div class="col-sm-7">
                            <input type="password" class="form-control" id="profile-new-password" data-ng-model="newPassword">
                        </div>
                    </div>
                    <div class="form-group" data-ng-class="{'has-error has-feedback': !passwordValid()}">
                        <label for="profile-confirm-password" class="col-sm-4 control-label">Confirm</label>

                        <div class="col-sm-7">
                            <input type="password" class="form-control" id="profile-confirm-password" data-ng-model="newPasswordConfirm" data-ng-disabled="!newPassword">
                            <span class="glyphicon glyphicon-remove form-control-feedback" data-ng-show="!passwordValid()"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-7">
                            <button type="submit" class="btn btn-primary" data-ng-click="changePassword()" data-ng-disabled="!newPassword || !passwordValid()">Change</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>