body {
    background-color: #e7e7e7;
}

.transition-all-03 {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.sidebar {
    width: 250px;
    background-color: #2a2c36;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 10;
    padding-top: 51px;
}

.sidebar.sidebar-hidden {
    left: -250px;
}

.sidebar .player-info {
    padding: 15px;
    background-color: #1c1e27;
    height: 80px;
}

.sidebar .player-info .player-avatar {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    float: left;
}

.sidebar .player-info .player-name {
    margin-left: 65px;
    font-weight: bold;
}

.sidebar .player-info .player-email {
    margin-left: 65px;
    font-size: 12px;
}

.sidebar ul.sidebar-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar ul.sidebar-menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    border-left: 3px solid #2a2c36;
}

.sidebar ul.sidebar-menu li.active a {
    background-color: #393b49;
    border-left: 3px solid #fff;
}

.sidebar ul.sidebar-menu li:hover a {
    background-color: #393b49;
    border-left: 3px solid #fff;
}

.sidebar ul.sidebar-menu li a i {
    margin-left: 10px;
    margin-right: 20px;
}

.navbar {
    z-index: 11;
    background-color: #fff;
    border-radius: 0;
    border-bottom: 1px solid #d1d1d1;
}

.navbar .navbar-header {
    position: absolute;
    left: 15px;
    border-right: 1px solid #d1d1d1;
    width: 235px;
}

.navbar .navbar-header.header-hidden {
    left: -185px;
}

.navbar .navbar-header .navbar-brand {
    color: #222;
}

.navbar .navbar-header .navbar-brand i {
    font-size: 16px;
    margin-right: 5px;
}

.navbar-header-toggle {
    float: right;
    cursor: pointer;
    padding: 18px 17px 17px 17px;
}

.navbar-header-toggle:hover {
    background-color: #eaeaea;
}

.navbar-header-toggle .icon-bar {
    background-color: #222;
    display: block;
    width: 18px;
    height: 3px;
    border-radius: 2px;
}

.navbar-header-toggle .icon-bar + .icon-bar {
    margin-top: 3px;
}

.navbar-nav > li > .info-box {
    line-height: 20px;
    margin: 15px;
    color: #aaa;
}

.navbar-nav > li > .info-box i {
    font-size: 12px;
    margin-right: 3px;
}

.main-content {
    background-color: #e7e7e7;
    margin: 51px 0 30px 250px;
    padding: 20px;
}

.main-content.full-size {
    margin-left: 0;
}

.panel {
    border-radius: 0;
}

.panel .panel-heading h3 {
    font-size: 12px;
    text-transform: uppercase;
}

.panel .panel-heading h3 i {
    margin-right: 10px;
}

.panel table {
    margin: 20px 10px 10px 10px;
    font-size: 12px;
}
