body {
    background-color: #e7e7e7;
}

.sidebar {
    width: 250px;
    background-color: #2a2c36;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 10;
}

.navbar {
    z-index: 11;
    background-color: #fff;
    border-radius: 0;
    border-bottom: 1px solid #d1d1d1;
}

.navbar .navbar-header {
    border-right: 1px solid #d1d1d1;
    overflow: hidden;
    float: left;
    width: 250px;
}

.navbar .navbar-header .navbar-brand {
    color: #222;
}

.navbar .navbar-header .navbar-brand .brand-title {
    margin-left: 5px;
}

.navbar-header-toggle {
    float: right;
    cursor: pointer;
    padding: 18px 17px 17px 17px;
}

.navbar-header-toggle:hover {
    background-color: #eaeaea;
}

.navbar-header-toggle .icon-bar {
    background-color: #222;
    display: block;
    width: 18px;
    height: 3px;
    border-radius: 2px;
}

.navbar-header-toggle .icon-bar + .icon-bar {
    margin-top: 3px;
}

.main-content {
    background-color: #e7e7e7;
    padding: 70px 30px 30px 280px;
}
