@(message: String)

@import tags.gravatar

@main("Sportler") {

    <nav class="sidebar" role="navigation">
        <div class="player-info">
            <img class="player-avatar" src="@gravatar("me@matsjonas.com")" alt="gravatar"/>
            <div class="player-name">matsjonas</div>
            <div class="player-email">me@@matsjonas.com</div>
        </div>
        <ul class="sidebar-menu">
            <li><i class="icon-badge"></i>Dashboard</li>
            <li class="active"><i class="icon-user"></i>Profile</li>
            <li><i class="icon-users"></i>Users</li>
            <li><i class="icon-umbrella"></i>Teams</li>
            <li><i class="icon-layers"></i>Seasons</li>
            <li><i class="icon-flag"></i>Games</li>
        </ul>
    </nav>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <span class="navbar-brand">
                <i class="icon-trophy"></i>
                <span class="brand-title">Sportler</span>
            </span>
            <a class="navbar-header-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </div>
    </div>

    <div class="main-content">

    </div>

}
