@(player: Player)

@import tags.gravatar

@main("Sportler") {

    <nav class="sidebar transition-all-03" role="navigation" data-ng-class="{'sidebar-hidden' : !sharedSettings.sidebarVisible}" data-ng-controller="SidebarController">
        <div class="player-info">
            <img class="player-avatar" src="@gravatar(player.getEmail)" alt="gravatar"/>
            <div class="player-name">@player.name</div>
            <div class="player-email">@player.getEmail</div>
        </div>
        <ul class="sidebar-menu">
            <li data-ng-class="activeIf('/dashboard')">
                <a href="/#/dashboard" data-ng-click="menuClick()"><i class="icon-badge"></i>Dashboard</a>
            </li>
            <li data-ng-class="activeIf('/profile')">
                <a href="/#/profile" data-ng-click="menuClick()"><i class="icon-user"></i>Profile</a>
            </li>
            <li data-ng-class="activeIf('/players')">
                <a href="/#players" data-ng-click="menuClick()"><i class="icon-users"></i>Players</a>
            </li>
            <li data-ng-class="activeIf('/teams')">
                <a href="/#/teams" data-ng-click="menuClick()"><i class="icon-umbrella"></i>Teams</a>
            </li>
            <li data-ng-class="activeIf('/seasons')">
                <a href="/#/seasons" data-ng-click="menuClick()"><i class="icon-layers"></i>Seasons</a>
            </li>
            <li data-ng-class="activeIf('/games')">
                <a href="/#/games" data-ng-click="menuClick()"><i class="icon-flag"></i>Games</a>
            </li>
        </ul>
    </nav>

    <div class="navbar navbar-default navbar-fixed-top" data-ng-controller="NavbarController">
        <div class="container-fluid">
            <div class="navbar-header transition-all-03" data-ng-class="{'header-hidden' : !sharedSettings.sidebarVisible}">
                <span class="navbar-brand">
                    <i class="icon-trophy"></i>
                    <span class="brand-title">Sportler</span>
                </span>
                <a class="navbar-header-toggle" data-ng-click="toggleSidebar()">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div class="info-box clock hidden-xs hidden-sm">
                        <i class="icon-clock"></i>
                        <span class="time">loading...</span>
                    </div>
                </li>
                <li>
                    <a href="/logout">logout</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-content transition-all-03" data-ng-class="{'full-size' : !sharedSettings.sidebarVisible}" data-ng-controller="MainContentController" data-ng-init="init(@player.id)">
        <div data-ng-view></div>
    </div>

}
