@(message: String)

@import tags.gravatar

@main("Sportler") {

    <nav class="sidebar" role="navigation">
        <div class="user-info">
            <img src="@gravatar("me@matsjonas.com")" alt="gravatar"/>
        </div>
    </nav>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <span class="navbar-brand">
                <i class="icon-trophy"></i>
                <span class="brand-title">Sportler</span>
            </span>
            <a class="navbar-header-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </div>
    </div>

    <div class="main-content">

    </div>

}
