@(loginForm: Form[Login.LoginCredentials])

@main("Sportler") {

    <form action="@routes.Login.authenticate()" method="post">
        <fieldset>
            @if(loginForm.hasErrors) {
                <div class="alert alert-error">
                    <strong>Unable to login!</strong>
                    @loginForm.globalErrors.map { error =>
                        <div>@error.message</div>
                    }
                </div>
            }

            <div class="form-group">
                <label for="username-input">Email address</label>
                <input type="text" name="username" class="form-control" id="username-input" placeholder="Enter email" autofocus="true">
            </div>
            <div class="form-group">
                <label for="password-input">Password</label>
                <input type="password" name="password" class="form-control" id="password-input" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-success pull-right">Login <i class="icon-login"></i></button>
        </fieldset>
    </form>

}
