@()

@main("Sportler") {

    <div class="navbar navbar-default navbar-fixed-top navbar-login">
        <div class="container-fluid">

            <div class="navbar-header">
                <span class="navbar-brand">
                    <i class="icon-trophy"></i>
                    <span class="brand-title">Sportler</span>
                </span>
            </div>

        </div>
    </div>

    <div class="front-content">

        <div class="page-header">
            <h1>You are now logged out <br/><small>We hope to see you soon again!</small></h1>
        </div>

        <p>
            If you want to log in again, please go <a href="@routes.Public.welcome()">here</a>. <i class="icon-direction"></i>
        </p>

    </div>

}
