@(loginForm: Form[Public.LoginInfo])

@main("Sportler") {

    <div class="navbar navbar-default navbar-fixed-top navbar-login">
        <div class="container-fluid">

            <div class="navbar-header">
                <span class="navbar-brand">
                    <i class="icon-trophy"></i>
                    <span class="brand-title">Sportler</span>
                </span>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <p class="navbar-text">Login:</p>
                </li>
                <li>
                    <form class="form-inline" action="@routes.Public.login()" method="post">
                        <div class="form-group">
                            <div class="input-group">
                                <label class="sr-only" for="email">Email address</label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="email">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="password">Password</label>
                                <input type="password" class="form-control" name="password" id="password" placeholder="password">
                            </div>
                            <button type="submit" class="btn btn-success">Go! <i class="icon-login"></i></button>
                        </div>
                    </form>
                </li>
                <li>
                    <p class="navbar-text">Not a member? <a href="/register" class="navbar-link">Join!</a></p>
                </li>
            </ul>

        </div>
    </div>

    <div class="front-content">
        <div class="top-icons">
            <i class="icon-trophy"></i>
            <i class="icon-badge"></i>
        </div>

        <div class="page-header">
            <h1>Welcome to Sportler <br/><small>The number 1 sports ladder web application!</small></h1>
        </div>
        <p>
            We seriously strive to be the best. Although we must admit that we have only
            compared ourselves to one other application. And we actually wrote that one
            ourselves so you really shouldn't trust us. Try it out yourself. It's free!
            <a href="/register">Register now!</a>
        </p>
        <p>
            If you're still having doubts, browse through the below reasons to get persuaded.
            <i class="icon-directions"></i>
        </p>

        <div class="persuasion-point">
            <i class="point-icon icon-graph"></i>
            <h2>Track and visualize standings</h2>
            <p>
                Just input your game results and we will handle the rest.
            </p>
        </div>
        <div class="persuasion-point">
            <i class="point-icon icon-globe-alt"></i>
            <h2>Global</h2>
            <p>
                It is! You can use it anywhere.
            </p>
        </div>
        <div class="persuasion-point">
            <i class="point-icon icon-rocket"></i>
            <h2>Cool icons!</h2>
            <p>
                Just look at this rocket!
            </p>
        </div>
    </div>

}
